<h3>Add Winning Numbers to draw</h3>

<p style="color:red">{{msg}}</p>

<form>
   <div class="form-group">
          <label for="name">Draw Name </label>
          <input type="text" class="form-control" id="qs"
         required
         [(ngModel)]="winNumbers.DrawName" name="qs">
        </div>

        <div class="form-group">
          <label for="name">Primary Winning Numbers</label>
          <input type="text" placeholder="3,36,12,49,12" class="form-control" id="qs"
         required
         [(ngModel)]="winNumbers.PrimaryNumbers" name="qs">
        </div>

<div class="form-group">
          <label for="name">Secondary Winning Numbers</label>
          <input type="text" placeholder="1, 5" class="form-control" id="qs"
         required
         [(ngModel)]="winNumbers.SecondaryNumbers" name="qs">
        </div>

        <p>NB: Numbers are written as comma delimited strings</p>

  </form>

<button class="btn btn-primary" (click)="addWinningNumbers()">Add Winning Numbers</button>


