<h3>Create a draw</h3>

<p style="color:red">{{msg}}</p>
<form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
       required
       [(ngModel)]="drawModel.Name" name="name">
      </div>
 
      <div class="form-group">
        <label for="name">Description</label>
        <input type="text" class="form-control" id="desc"
       required
       [(ngModel)]="drawModel.Description" name="desc">
      </div>
 
 <div class="form-group">
        <label for="name">Draw Date</label>
        <input type="text" class="form-control" id="drawdate"
       required
       [(ngModel)]="drawModel.DrawDate" name="drawdate">
      <p>Date string is of format YYYY-MM-DD</p> 
      </div>
      
 
 <div class="row">

  <div class="col-md-4 col-sm-4">
 <div class="form-group">
        <label for="name">Max Primary</label>
        <input type="text" class="form-control" id="maxp"
       required
       [(ngModel)]="drawModel.MaxPrimary" name="maxp">
      </div>
  </div>
 
 <div class="col-md-4 col-sm-4">
 <div class="form-group">
        <label for="name">Min Primary</label>
        <input type="text" class="form-control" id="minp"
       required
       [(ngModel)]="drawModel.MinPrimary" name="minp">
      </div>
 </div>
 
 <div class="col-md-4 col-sm-4">
 <div class="form-group">
        <label for="name">Quantity Primary</label>
        <input type="text" class="form-control" id="qp"
       required
       [(ngModel)]="drawModel.QuantityPrimary" name="qp">
      </div>
 </div>
 </div>


 <div class="row">
   <div class="col-md-4 col-sm-4">
     <div class="form-group" >
            <label for="name">Maximum Secondary</label>
            <input type="text" class="form-control" id="maxs"
           required
           [(ngModel)]="drawModel.MaxSecondary" name="maxs">
          </div>
   </div>
   
   <div class="col-md-4 col-sm-4">
   <div class="form-group">
          <label for="name">Minimum Secondary</label>
          <input type="text" class="form-control" id="mins"
         required
         [(ngModel)]="drawModel.MinSecondary" name="mins">
        </div>
    </div>
   
   <div class="col-md-4 col-sm-4">
   <div class="form-group">
          <label for="name">Quantity Secondary</label>
          <input type="text" class="form-control" id="qs"
         required
         [(ngModel)]="drawModel.QuantitySecondary" name="qs">
        </div>
 </div>
 </div>
      
      
 
     
    </form>

<button class="btn btn-primary" (click)="onContactServer()">Create Draw</button>
