<h3>Find a draw in date range</h3>

<p style="color:red">{{msg}}</p>

<form>
   <div class="form-group">
          <label for="name">Start Date </label>
          <input type="text" class="form-control" id="qs"
         required
         [(ngModel)]="dateRange.Start" name="qs">
        </div>

<div class="form-group">
          <label for="name">End Date </label>
          <input type="text" class="form-control" id="qs"
         required
         [(ngModel)]="dateRange.End" name="qs">
        </div>

        <p>nb: Date string is of format YYYY-MM-DD</p> 

</form>
<button class="btn btn-primary" (click)="onGetDraws()">Get Dates in Range</button>

<div>
<b>Draw Search Results</b>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Draw Description</th>
    <th>Draw Date</th>
    <th>Max Primary </th>
    <th>Min Primary </th>
    <th>Quantity Primary</th>
    <th>Max Secondary</th>
    <th>Min Secondary</th>
    <th>Quantity Secondary </th>
    </tr>

    



<tr *ngFor="let draw of drawResults">
        <td>{{draw.name}}  </td>
        <td>{{draw.description}}</td>
        <td>{{draw.drawDate}}</td>
        <td>{{draw.primaryNumbers.maxValue}}</td>
        <td>{{draw.primaryNumbers.minValue}}</td>
        <td>{{draw.primaryNumbers.amountOfNumbers}}</td>
        <td>{{draw.secondaryNumbers.maxValue}}</td>
        <td>{{draw.secondaryNumbers.minValue}}</td>
        <td>{{draw.secondaryNumbers.amountOfNumbers}}</td>
    </tr>
</table>
</div>
