<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
 
</div>


<hr/>
<app-finddraws></app-finddraws>
<hr/>
<app-createdraw></app-createdraw>
<hr/>
<app-addwinningnumbers></app-addwinningnumbers>
